<template>
    <el-card class="box-card">
        <div class="text item">
            文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要
            文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要文章摘要
        </div>
    </el-card>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>

</style>
