<template>
  <div class="article-list">
    <el-card class="box-card">
      <div slot="header" class="clearfix" style="line-height: 1.5rem">
        <span style="font-size: 1.5rem;">{{ archive.name }}分类</span>
        <span>{{ archive.content ? archive.content : '分类简介'}}</span>
      </div>

      <el-collapse accordion>
        <el-collapse-item  v-for="post in archive['article']" :key="post.id" :title="post.title" :name="post.id">
          <div>{{ post.introduction ? post.introduction : '该文章没有简介' }}
            <el-button style="float: right; padding: 3px 0" type="text" @click="articleDetail(post.id)">ReadMore</el-button>
          </div>
        </el-collapse-item>
      </el-collapse>

    </el-card>
  </div>
</template>

<script>
export default {
  name: 'ArchiveDetail',
  data () {
    return {
      archive: {}
    }
  },
  created () {
    this.$ajax.get('https://t.tw/api/v1/categories/' + this.$route.params.id).then((res) => {
      this.archive = res.data.data
    })
  },
  methods: {
    articleDetail: function (id) {
      this.$router.push('/article/' + id)
    },
    archiveDetail: function (id) {
      this.$router.push('/archive/' + id)
    }
  }
}
</script>

<style scoped>
.el-card {
  margin-bottom: 20px;
}
</style>
