<template>
  <div class="article-list">
    <el-card class="box-card" v-for="archive in archives" :key="archive.id">
      <div slot="header" class="clearfix" style="line-height: 1.5rem">
        <span style="font-size: 1.5rem;">{{ archive.name }}</span>
        <span>{{ archive.content}}</span>
        <el-button style="float: right; padding: 3px 0" type="text" @click="archiveDetail(archive.id)">该分类更多文章</el-button>
      </div>

      <el-collapse accordion >
        <el-collapse-item  v-for="post in archive['article']" :key="post.id" :title="post.title" :name="post.id">
          <div>{{ post.introduction ? post.introduction : '该文章没有简介' }}
            <el-button style="float: right; padding: 3px 0" type="text" @click="articleDetail(post.id)">ReadMore</el-button>
          </div>
        </el-collapse-item>
      </el-collapse>

    </el-card>
  </div>
</template>

<script>
export default {
  name: 'Archive',
  data () {
    return {
      archives: {}
    }
  },
  created () {
    this.$ajax.get('https://t.tw/api/v1/categories/all').then((res) => {
      this.archives = res.data.data
    })
  },
  methods: {
    articleDetail: function (id) {
      this.$router.push('/article/' + id)
    },
    archiveDetail: function (id) {
      this.$router.push('/archive/' + id)
    }
  }
}
</script>

<style scoped>
  .el-card {
    margin-bottom: 20px;
  }
</style>
