<template>
  <div class="article-detail">
    <el-card class="box-card">
      <div slot="header" class="clearfix" style="line-height: 2rem">
        <span style="font-size: 2rem;">{{ article.title }}</span>
        <span style="margin-bottom: 0;padding-bottom: 0">

                <span>{{ category.name ? category.name : '无' }}分类</span>|
                <span>{{ article.author ? article.author : '匿名'}}</span>|
                <span>标签</span>|
                <span>阅读量: {{ article.reading }}</span>|
                <span>赞</span>|
                <span>发表时间 {{ article.create_time }}</span>
                </span>
      </div>
      <div class="text item" v-html="article.content">
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'ArticleDetail',
  data () {
    return {
      article: {},
      category: {}
    }
  },
  created () {
    this.$ajax.get('https://t.tw/api/v1/articles/' + this.$route.params.id).then((res) => {
      this.article = res.data.data
      this.category = res.data.data.category
    })
  }
}
</script>

<style scoped>

</style>
