<template>
  <div class="article-list">
    <!--<div v-if="isObject( articles )">没有文章</div>-->
    <el-card class="box-card" v-for="article in articles" :key="article.id">
      <div slot="header" class="clearfix" style="line-height: 2rem">
        <span style="font-size: 2rem;">{{ article.title }}</span>
        <span style="margin-bottom: 0;padding-bottom: 0">
                <span>{{ article.category.name }}分类</span>|
                <span>{{ article.author }}</span>|
                <span>标签</span>|
                <span>阅读量:{{ article.reading}}</span>|
                <span>赞</span>|
                <span>发表时间 {{ article.create_time }}</span>
                </span>
        <el-button style="float: right; padding: 3px 0" type="text" @click="articleDetail(article.id)">阅读更多</el-button>
      </div>
      <div class="text item">{{ article.introduction ? article.introduction : '该文章没有简介'}}
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'ArticleList',
  data () {
    return {
      articles: {}
    }
  },
  methods: {
    articleDetail: function (id) {
      this.$router.push('/article/' + id)
    },
    archiveDetail: function (id) {
      this.$router.push('/archive/' + id)
    }
  },
  created () {
    this.$ajax.get('https://t.tw/api/v1/articles/').then((res) => {
      this.articles = res.data.data
    })
  }
}
</script>

<style scoped>
  .el-card {
    margin-bottom: 1rem;
  }
</style>
