<template>
  <div class="footer-my">
    <p>
      2018-2019&copy;京ICP备15145464号-1&nbsp; &nbsp;&nbsp;
      版权所有 Qlmlove &nbsp;&nbsp;&nbsp;Powerd by <a href="https://lmjng.cn"
                                                  target="_blank">柠娇黎</a>&nbsp;&nbsp;&nbsp;
      <a href="https://github.com/qlmlove/TP5b"><i class="el-icon el-icon-"></i>GitHub</a>&nbsp;&nbsp;&nbsp;
      <a href="https://weibo.com/212022567"><i class="el-icon layui-icon-login-weibo"></i>WeiBo</a>
      <a href="https://cn.vuejs.org/"><i class="layui-icon layui-icon-login-weibo"></i>Vue文档</a>
      <a href="https://element.faas.ele.me/#/zh-CN/component/installation"><i class="layui-icon layui-icon-login-weibo"></i>Element-UI文档</a>
      <a href="https://www.kancloud.cn/manual/thinkphp5/118003"><i class="layui-icon layui-icon-login-weibo"></i>TP5.0文档</a>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      archives: {}
    }
  },
  created () {
    this.$ajax.get('https://t.tw/api/v1/categories/all').then((res) => {
      this.archives = res.data.data
    })
  }
}
</script>

<style scoped>
  .footer-my {
    height: 60px;
    line-height: 60px;
    background-color: #545c64;
    color: #fff;
    padding: 0;
    margin:0;
  }
</style>
