<template>
  <div class="header-my">

    <el-menu
      :default-active="activeIndex"
      class="el-menu"
      mode="horizontal"
      @select="handleSelect"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b">
      <el-menu-item index="1">
        <router-link to="/">首页</router-link>
      </el-menu-item>

      <el-menu-item index="2">
        <router-link to="/archive">归档</router-link>
      </el-menu-item>
      <el-menu-item index="3"><router-link to="/timeline">时间线</router-link></el-menu-item>
      <el-menu-item index="4">
        <router-link to="/about">关于</router-link>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>

export default {
  name: 'Header',
  data () {
    return {
      activeIndex: '1'
    }
  },
  methods: {
    handleSelect (key, keyPath) {
      console.log(key, keyPath)
    }
  }
}
</script>

<style scoped>
</style>
