<template>
  <div class="login-or-reg">
    <button>登录</button>
    <span>Or</span>
    <button>注册</button>
  </div>
</template>

<script>
export default {
  name: 'LoginOrReg'
}
</script>

<style scoped>
  .login-or-reg {
    float: right;
    line-height: 4rem;
    margin-right: 1rem;
    width: auto;
  }

  button {
    line-height: 2rem;
    background-color: orange;
  }
</style>
