<template>
  <div class="notice">
    <el-tabs type="border-card">
      <el-tab-pane label="网站公告">
        <div v-if="notices"></div>
        <div v-for="notice in notices" :key="notice.id">{{ notice.title }}</div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>

export default {
  name: 'Notice',
  data () {
    return {
      notices: {}
    }
  },

  created () {
    this.$ajax.get('https://t.tw/api/v1/notices/all').then((res) => {
      this.notices = res.data.data
    })
  }
}
</script>

<style scoped>
  .el-tabs {
    margin-top: 1.2rem;
  }
</style>
