<template>
  <div class="recent-comment">
    <el-card class="box-card">
      <div slot="header" class="clearfix" style="line-height: .8rem">
        <span style="font-size: 1.2rem;">最近评论</span>

      </div>
      <div class="text item">
        <ul>
          <li>评论1</li>
          <li>评论2</li>
          <li>评论3</li>
          <li>评论4</li>
        </ul>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'RecentComment',
  data () {
    return {
      archives: {}
    }
  },
  created () {
    this.$ajax.get('https://t.tw/api/v1/categories/all').then((res) => {
      this.archives = res.data.data
    })
  }
}
</script>

<style scoped>
  .recent-comment {
    margin-top: 1.2rem;
  }
</style>
