<template>
  <div class="recent-article">
    <el-card class="box-card">
      <div slot="header" class="clearfix" style="line-height: .8rem">
        <span style="font-size: 1.2rem;">最近文章</span>

      </div>
      <div class="text item">
        <ul>
          <li>文章1</li>
          <li>文章2</li>
          <li>文章3</li>
          <li>文章4</li>
        </ul>
      </div>
    </el-card>
  </div>
</template>

<script>
</script>

<style scoped>
  .el-card {
    margin-top: 1.2rem;
  }
</style>
