<template>
  <div class="search">
    <el-card class="box-card">

      <el-input placeholder="请输入内容" class="input-with-select">
        <el-button slot="append" icon="el-icon-search"></el-button>
      </el-input>

    </el-card>
  </div>
</template>

<script>
export default {
  name: 'Search',
  data () {
    return {
      archives: {}
    }
  },
  created () {
    this.$ajax.get('https://t.tw/api/v1/categories/all').then((res) => {
      this.archives = res.data.data
    })
  }
}
</script>

<style scoped>

</style>
