<template>
  <div class="aside">
    <Search/>
    <Notice />
    <RecentArticle/>
    <RecentComment/>
  </div>
</template>

<script>
import RecentArticle from './RecentArticle'
import Search from './Search'
import RecentComment from './RecentComment'
import Notice from './Notice'

export default {
  name: 'SideBar',
  components: {Notice, RecentComment, Search, RecentArticle}
}
</script>

<style scoped>
  .aside {
    margin-top: 1.3rem;
  }
</style>
