<template>
  <el-collapse accordion>
    <el-collapse-item title="XXX时间线" name="1">
      <el-card class="box-card">
        <el-steps direction="vertical" :active="90">
          <el-step title="步骤 3" description="这是一段很长很长很长的描述性文字"></el-step>
          <el-step title="步骤 3" description="这是一段很长很长很长的描述性文字"></el-step>
          <el-step title="步骤 3" description="这是一段很长很长很长的描述性文字"></el-step>
        </el-steps>
      </el-card>
    </el-collapse-item>
  </el-collapse>

</template>

<script>
export default {
  name: 'Timeline',
  data () {
    return {
      archives: {}
    }
  },
  created () {
    this.$ajax.get('https://t.tw/api/v1/categories/all').then((res) => {
      this.archives = res.data.data
    })
  }
}
</script>

<style scoped>
.el-step {
  height:8rem;
}
</style>
