<template>
  <div id="app" class="">
    <el-container>
      <!--头部-->
      <el-header>
        <Header/>
      <!--内容区域-->
      </el-header>
      <el-container class="container-body el-col-md-24 el-col-sm-23">
        <!--主内容区域-->
        <el-main class="el-col-md-20 el-col-sm-20">
          <router-view/>
        </el-main>
        <!--侧边栏区域-->
        <el-aside class="el-col-md-2 el-col-sm-4">
          <SideBar class=""/>
        </el-aside>
      </el-container>
      <!--脚部-->
      <el-footer>
        <Footer/>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import Header from './components/Header'
import ArticleList from './components/ArticleList'
import Footer from './components/Footer'
import SideBar from './components/SideBar'
import About from './components/About'

export default {
  name: 'app',
  components: {
    About,
    SideBar,
    Footer,
    ArticleList,
    Header
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background-color: gray;*/
    /*text-align: center;*/

  }

  .el-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
  }
  .el-main {
    padding-left: 0;
  }
  .el-header {
    padding: 0;
  }
  .el-aside {
    width: 20px;
  }

  .el-footer {
    padding: 0;
  }
</style>
